<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <div class="from_group">
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder" style="margin-right:30px"> 
                <img style="max-width: 10%; height: auto;" src="{{url_for('static', filename='image.png')}}" align="middle"/></img>
                심혈관계 질환 예측</h1>
              <p class="lead fw-normal text-white-50 mb-0"><br>심혈관계 질환은 심장과 뇌에 혈액을 공급하는 혈관에 이상이 생긴 질환을 말하며,<br>
                심혈관질환은 높은 사망율을 기록하는 질환 중 하나입니다.</p>
          </div>
      </div>
  </header>
    <br><br>
  </div>

  <form action="cardiovascular" autocomplete="on">
    <div class="form-group">
      <label for="age"> <h5 class="mb-2">Age: </h5> 
        <p class="lead text-black-50 mb-0">나이</p>
      </label>
      <input type="text" class="form-control" id="age" placeholder="Enter your age" name="age"  style="float:right; width:30%" value={{age}}>
    </div> 
    <hr class="my-4">

    <div class="form-group">
      <label for="gender"> <h5 class="mb-2">Gender: </h5> 
        <p class="lead text-black-50 mb-0">성별</p>
      </label>

      <select class="form-control" id="gender" name="gender" style="float: right; width:30%">
        <option selected>Select your gender</option>
        <option value="2">남</option>
        <option value="1">여</option>
      </select>
    </div>
    <hr class="my-4">

    <div class="form-group">
      <label for="height"> <h5 class="mb-2">Height: </h5> 
        <p class="lead text-black-50 mb-0">당신의 키(cm)</p>
      </label>
      <input type="text" class="form-control" id="height" placeholder="Enter your height" name="height"  style="float:right; width:30%" value={{height}}>
    </div> 
    <hr class="my-4">

    <div class="form-group">
      <label for="weight"> <h5 class="mb-2">Weight: </h5> 
        <p class="lead text-black-50 mb-0">몸무게(kg)</p>
      </label>
      <input type="text" class="form-control" id="weight" placeholder="Enter your weight" name="weight"  style="float:right; width:30%" value={{weight}}>
    </div> 
    <hr class="my-4">

    <div class="form-group">
      <label for="ap_hi"> <h5 class="mb-2">Systolic blood pressure: </h5> 
        <p class="lead text-black-50 mb-0">수축기 혈압(mmHg)</p>
      </label>
      <input type="text" class="form-control" id="ap_hi" placeholder="Enter your ap_hi" name="ap_hi"  style="float:right; width:30%" value={{ap_hi}}>
    </div> 
    <hr class="my-4">

    <div class="form-group">
      <label for="ap_lo"> <h5 class="mb-2">Diastolic blood pressure: </h5> 
        <p class="lead text-black-50 mb-0">이완기 혈압(mmHg)</p>
      </label>
      <input type="text" class="form-control" id="ap_lo" placeholder="Enter your ap_low" name="ap_lo"  style="float:right; width:30%" value={{ap_lo}}>
    </div> 
    <hr class="my-4">

    <div class="form-group">
      <label for="cholesterol"> <h5 class="mb-2">Cholesterol: </h5> 
        <p class="lead text-black-50 mb-0">콜레스테롤 수치</p>
      </label>

      <select class="form-control" id="cholesterol" name="cholesterol" style="float: right; width:30%">
        <option selected>Select your cholesterol level</option>
        <option value="1">정상</option>
        <option value="2">비정상</option>
        <option value="3">매우 비정상</option>
      </select>
    </div> 
    <hr class="my-4">

    <div class="form-group">
      <label for="gluc"> <h5 class="mb-2">Glucose: </h5> 
        <p class="lead text-black-50 mb-0">글루코겐 수치</p>
      </label>

      <select class="form-control" id="gluc" name="gluc" style="float: right; width:30%">
        <option selected>Select your glucose level</option>
        <option value="1">정상</option>
        <option value="2">비정상</option>
        <option value="3">매우 비정상</option>
      </select>
    </div> 
    <hr class="my-4">

    <div class="form-group">
      <label for="smoke"> <h5 class="mb-2">Smoking: </h5> 
        <p class="lead text-black-50 mb-0">흡연 유무</p>
      </label>

      <select class="form-control" id="smoke" name="smoke" style="float: right; width:30%">
        <option selected>Select whether you smoke</option>
        <option value="1">흡연자</option>
        <option value="0">비흡연자</option>
      </select>
    </div> 
    <hr class="my-4">

    <div class="form-group">
      <label for="alco"> <h5 class="mb-2">Alcohol intake: </h5> 
        <p class="lead text-black-50 mb-0">알콜 섭취 유무</p>
      </label>

      <select class="form-control" id="alco" name="alco" style="float: right; width:30%">
        <option selected>Select whether you drink</option>
        <option value="1">음주 함</option>
        <option value="0">음주 안함</option>
      </select>
    </div> 
    <hr class="my-4">

    <div class="form-group">
      <label for="active"> <h5 class="mb-2">Physical activity: </h5> 
        <p class="lead text-black-50 mb-0">신체 활동 유무 - 1:유 0:무</p>
      </label>

      <select class="form-control" id="active" name="active" style="float: right; width:30%">
        <option selected>Select whether you active</option>
        <option value="1">신체활동 함</option>
        <option value="0">신체활동 안함</option>
      </select>
    </div> 
    <hr class="my-4">

    <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-bottom:3rem; width:90%; margin-left:auto; margin-right:auto">Predict</button>
  </form>

  <div class="form-group", style="margin-bottom:2rem;">
    <label for="Output"><h3 class="mb-2", style="margin-left: 9rem; margin-top:2px;">나의 예측 결과는? </h3></label>
    <input type="text" class="form-control form-control-lg" id="Output" placeholder="Your score" name="Output"  
           style="margin-right:7rem; float:right; width:30%; height:40px;" readonly="readonly" value={{Output}}>
  </div> 

</div>

</body>
</html>
